body,html{
  overflow-x: hidden !important;
}
body,h1,h2,h3,h4,h5,h6,div,a,span{
  font-family: 'Poppins', sans-serif;
}
div::after,div::before{
  display: block !important;
}
li{
  list-style: none;
}
a,a:hover{
  text-decoration: none;
}
.logo img {
    width: 115px;
}
#menu-primary{
  display: inline;
}
ul#menu-primary li:last-child a i {
    border-radius: 50%;
    background-color: #e8e8e8;
    padding: 5px 8px;
}
ul#menu-primary li:last-child a i {
    font-size: 15px;
}
ul#menu-primary li:nth-child(6) a {
    background-color: #377dff;
    color: #fff;
    border-radius: 20px;
    padding: 12px 20px;
    transition: 0.3s;
    border: 1px solid transparent;
}
ul#menu-primary li:nth-child(6) a:hover {
    background-color: #fff;
    color: #377dff;
    border: 1px solid #377dff;
}
ul#menu-primary li:last-child a:before {
    position: absolute;
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    left: 53px;
    top: 23px;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px 40px;
    z-index: 222;
    background-color: #fff;
}
.AppMenu ul li a {
    padding: 20px 17px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #000;
    transition: 0s;
    font-family: 'Monster', sans-serif !important;
    margin-left: 6px;
    position: relative;
}
.AppMenu ul li {
  display: inline-block;
  height: 100%;
}
.sub_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
}
.logo {
  width: 172px;
}
.ApMenu {
  width: calc(100% - 172px);
  text-align: right;
}
.AppToggle {
  display: none;
}
.AppMenu {
  height: 100%;
}
ul.anime {
    position: absolute;
    right: 9%;
    top: 27.5%;
}
ul.anime li {
    border: 1px solid #fff;
    margin-bottom: 17px;
    height: 60px;
    border-radius: 10px;
    width: 10px;
}
ul.anime li:nth-child(1) span {
    height: 55%;
    width: 100%;
    background-color: #fff;
    display: block;
}
.banner{
  background-image : url(../images/component.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0px;
  margin-top: 66px;
  position: relative;
  overflow: hidden;
}
.banner:before {
    position: absolute;
    content: '';
    width: 76%;
    height: 100%;
    background: #B7D8FF;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    top: 0;
    right: -16%;
    opacity: 0.5;
}
.banner .row,.our_story .row,.brands .row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.banner h1 {
    color: #fff;
    position: relative;
    padding-bottom: 10px;
    font-size: 50px;
}
.banner h1:before {
    position: absolute;
    content: '';
    height: 4px;
    width: 8%;
    background-color: #fff;
    bottom: 0px;
}
.left_side_content a {
    background-color: #fff;
    padding: 15px 41px;
    border-radius: 30px;
    display: inline-block;
    font-size: 20px;
    margin-top: 19px;
    border:1px solid transparent;
    transition: 0.3s;
}
.left_side_content a:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.our_story {
    padding: 100px 0px;
}

.brands {
    background: linear-gradient(90deg, #F7F7F7 66%, #2C69FF 40%);
    background: -webkit-linear-gradient(0deg, #F7F7F7 66%, #2C69FF 40%);
    background: -o-linear-gradient(90deg, #F7F7F7 66%, #2C69FF 40%);
    background: -moz-linear-gradient(90deg, #F7F7F7 66%, #2C69FF 40%);
    padding: 40px 0px;
}
.extraheight{
  background: linear-gradient(90deg, #FFFFFF 66%, #2C69FF 40%);
  background: -webkit-linear-gradient(0deg, #FFFFFF 66%, #2C69FF 40%);
  background: -o-linear-gradient(90deg, #FFFFFF 66%, #2C69FF 40%);
  background: -moz-linear-gradient(90deg, #FFFFFF 66%, #2C69FF 40%);
  height: 40px;
}
ul.common_brands {
    display: flex;
    margin-bottom: 0px;
    padding-left: 0px;
    margin-right: 40px;
}
.common_brands li {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    margin: auto;
    padding: 30px 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.common_brands li:hover {
    box-shadow: 0 10px 24px 0 rgba(98, 98, 98, 0.1);
}
ul.common_brands img {
    width: 130px;
    object-fit: contain;
    object-position: center;
    height:65px;
}
ul.f2_brands.common_brands {
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
}
.common_brands li:nth-child(2) {
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    margin: 0px;
}
.common_brands li:nth-child(3){
  border-right: 1px solid #e7e7e7;
}
.brand_right span {
    font-size: 24px;
    color: #fff;
}
.brand_right h3 {
    font-size: 55px;
    margin-top: 0px;
    color: #fff;
    font-weight: 800;
    position: relative;
    padding-bottom: 13px;
}
.brand_right h3:before{
  position: absolute;
  content : "";
  bottom: 0px;
  height: 10px;
  width: 17%;
  background-color: #fff;
}
.box{
  padding: 0px;
  margin:0px;
  display: flex;
}
.box li{
  display: flex;
  flex-wrap: wrap;
  width:50%;
}
footer {
    background-color: #1d2022;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
    position: relative;
}
footer p {
  margin-bottom: 0px;
}
div#back2Top {
    position: fixed;
    right: 37px;
    background-color: #2a4e91;
    padding: 10px 20px;
    bottom: 7px;
    cursor: pointer;
    border-radius: 4px;
}
div#back2Top i {
    transform: scale(1.2,1.3);
    color : #fff;
}
.box_right {
    margin: auto;
}
.box_content {
    max-width: 510px;
    width: 100%;
}

.box_content span {
    font-size: 24px;
}
.box_content h4 {
    font-weight: 800;
    font-size: 37px;
    margin: 0px 0px;
    text-transform: uppercase;
}
.box_content h4 span {
    font-size: 37px;
    font-weight: 100;
}
.box_content p {
    font-weight: 300;
    font-size: 17px;
    color: #5C6A88;
    padding-top: 15px;
}
.box_content a {
    font-size: 21px;
    color: #2C69FF;
    font-weight: 600;
    display: inline-block;
    padding-top: 10px;
}
.box_content a img{
  width: 22px;
    object-fit: cover;
    object-position: center;
    margin-left: 6px;
}
.main_row {
    padding: 30px 0px 50px;
}
.main_row h4 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2C69FF;
    padding-bottom: 8px;
    position: relative;
}
.main_row h4:after{
  position: absolute;
  content: '';
  height: 5px;
  width:4%;
  bottom: 0px;
  left: 0px;
  background-color: #091C4B;
}
.our_story_right h2 {
    text-transform: uppercase;
    font-weight: 600;
}
.our_story_right p {
    color: #5C6A88;
    font-size: 16px;
}
@media only screen and (min-width:991px){
  .box_content {
    padding: 0px 30px;
}
}
@media only screen and (max-width:991px){
  .AppToggle{
    display:block;
    position:relative;
    float: right;
  }
  .AppMenu{
    display:none;
  }
  ul#menu-primary li:last-child a:before {
    top: 10px;
}
  ul#menu-primary li:nth-child(6) a {
      width: 114px;
  }
  .AppToggle span{
    display: block;
      width: 25px;
      height: 2px;
      background-color: #377dff;
      margin: 5px 0px;
      transition:0.4s;
  }
  .AppMenu.active{
    display:block;
  }
  .AppToggle.active span:nth-child(1){
    transform: rotate(45deg);
    transform-origin: 0%;
    margin: 0 0 8px 0;
  }
  .AppToggle.active span:nth-child(2){
    opacity: 0;
  }
  .AppToggle.active span:nth-child(3){
    transform: rotate(-45deg);
    transform-origin: 0%;
  }
  .AppMenu.active ul{
    display: block;
    width: 100%;
    position: absolute;
    left: 0px;
    text-align: left;
    top: 65px;
    background-color: #fafafa;
    padding: 10px 0px 10px;
    border-bottom: 1px solid #377dff;
  }
  .AppMenu.active ul li{
    display: block;
    height: 100%;
    width: 100%;
    font-size: 16px;
  }
  .AppMenu.active ul li a{
    display: block;
    padding: 6px 15px;
    font-size: 16px;
    letter-spacing: normal;
    margin-bottom: 7px;
  }
  .header{
    padding: 10px 15px;
    background-color: #fff;
  }
  .sub_header .logo{
    width: 140px;
  }
  .ApMenu {
    width: calc(100% - 140px);
    text-align: right;
}
  .logo a img {
    width: 140px;
}
ul.anime {
    top: 52.5%;
}
.our_story {
    padding: 50px 0px;
}
.brands{
  background: unset;
  padding: 0px;
}
.brands .top {
    background-color: #f7f7f7;
}
.brands .bottom {
    background-color: #2C69FF;
    padding: 40px 0px 40px 64px;
}
.extraheight {
    display: none;
}
.brand_right h3:before{
  width:9%;
}
.box {
    flex-direction: column;
}
.box li {
    width: 100%;
}
.box li img{
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.box li a img{
  height: 14px;
  width: 22px;
}
.box .down {
    order: 2;
}
.box_content {
    max-width: 100%;
}
.box .text {
    padding: 42px 0px 42px 64px;
}
ul.common_brands{
  margin-right: 0px;
}
}
@media only screen and (max-width:768px){
  .banner{
    padding: 30px 0px;
  }
  .box li img{
    height: 100%;
  }
  .box .text {
    padding: 42px 30px 42px 30px;
}
.brands .bottom {
    padding: 40px 0px 40px 44px;
}
}
@media only screen and (max-width:500px) {
  .banner h1{
    font-size:38px;
  }
  .brands .bottom {
    padding: 40px 0px 40px 30px;
}
.box_content h4 span {
    font-size: 30px;
}
.left_side_content a {
    padding: 13px 28px;
    font-size: 16px;
}
.banner h1:before{
  width:11%;
}
  .banner:before{
    display: none !important;
  }
  .anime{
    display: none !important;
  }
  .common_brands li {
    padding: 25px 12px;
}
.brand_right h3{
  font-size: 35px;
}
.brand_right h3:before {
    width: 12%;
}
.main_row h4{
  font-size: 36px;
}
.main_row h4:after{
  width: 9%;
}
.main_row {
    padding: 30px 0px 30px;
}
.box .text {
    padding: 42px 15px;
}
.box_content h4{
  font-size: 30px;
}
div#back2Top {
    right: 4px;
  }
}
